.current {
  .date {
    font-size: 2rem;
  }

  .temperature {
    margin-top: -0.5rem;
    font-size: 2rem;
  }

  .temperature-max {
    font-size: 1rem;
  }

  .rain {
    font-size: 1.5rem;
  }

  app-weather-icon {
    font-size: 4rem;
  }
}

.day {
  margin-top: 1.5rem;

  .date {
    font-size: 1rem;
  }

  .temperature {
    font-size: 1rem;
  }

  app-weather-icon {
    font-size: 2rem;
  }
}
