<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons-wind.min.css"
/>
<div class="flex flex-column flex-start">
  <div class="flex flex-column flex-start current">
    <app-weather-icon
      [iconImageUrl]="getCurrentIconUrl()"
      [iconClass]="getCurrentIconClass()"
    ></app-weather-icon>
    <!-- <div class="date">Jetzt</div> -->
    <div class="temperature">{{ getCurrentTemperature() }}</div>
    <div class="rain" *ngIf="getCurrentRain() > 0">
      {{ getCurrentRain() }}&nbsp;{{ i18n.weather.now }}
    </div>
    <div class="no-rain" *ngIf="getCurrentRain() == 0">
      {{ i18n.weather.noRain }}
    </div>
  </div>
  <div class="flex flex-column flex-start day" *ngIf="isMorning()">
    <app-weather-icon
      [iconImageUrl]="getDayIconUrl(0)"
      [iconClass]="getDayIconClass(0)"
    ></app-weather-icon>
    <div class="date">{{ getDate(0) }}</div>
    <div class="temperature">{{ getDayTemperature(0) }}</div>
    <div class="no-rain">{{ getDayRain(0) }}</div>
  </div>
  <div class="flex flex-column flex-start day">
    <app-weather-icon
      [iconImageUrl]="getDayIconUrl(1)"
      [iconClass]="getDayIconClass(1)"
    ></app-weather-icon>
    <div class="date">{{ getDate(1) }}</div>
    <div class="temperature">{{ getDayTemperature(1) }}</div>
    <div class="rain" *ngIf="getDayRain(1) > 0">
      {{ getDayRain(1) }}&nbsp;{{ i18n.weather.day }}
    </div>
    <div class="rain" *ngIf="getDayRain(1) == 0">
      {{ i18n.weather.noRain }}
    </div>
  </div>
</div>
