<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons-wind.min.css"
/>
<div class="flex flex-row flex-start">
  <div class="flex flex-column flex-center current">
    <app-weather-icon
      [iconImageUrl]="getCurrentIconUrl()"
      [iconClass]="getCurrentIconClass()"
    ></app-weather-icon>
    <div class="temperature">{{ getCurrentTemperature() }}</div>
  </div>
  <div class="flex flex-column flex-center tomorrow">
    <app-weather-icon
      [iconImageUrl]="getTomorrowsIconUrl()"
      [iconClass]="getTomorrowsIconClass()"
    ></app-weather-icon>
    <div class="temperature">{{ getTomorrowsTemperature() }}</div>
  </div>
</div>
