app-weather-icon {
  color: white;
  text-shadow: 0px 0px 0.1rem #000000;
}

.current {
  font-size: 70px;
}

.tomorrow {
  font-size: 50px;
  margin-left: 20px;
}

.temperature {
  font-size: 40%;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 0.1rem #000000;
}
