<div class="page" [style.cursor]="cursor" (mousemove)="onMouseMove()" (click)="onClick($event)">
  <app-photo #photo></app-photo>
  <app-clock></app-clock>
  <app-weather></app-weather>
  <app-calendar></app-calendar>
  <app-garbage></app-garbage>
  <app-directions></app-directions>
  <button
    *ngIf="showFullScreenButton"
    class="fullscreen"
    (click)="toggleFullScreen()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path
        *ngIf="isInFullscreen"
        fill="#fff"
        d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"
      />
      <path
        *ngIf="!isInFullscreen"
        fill="#fff"
        d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"
      />
    </svg>
  </button>
  <button class="close" (click)="close()">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 512 512"
    >
      <g></g>
      <path
        d="M256.010 204.645l100.118-100.146 51.344 51.33-100.118 100.146-51.344-51.329z"
        fill="#fff"
      />
      <path
        d="M155.827 407.483l-51.344-51.358 100.161-100.132 51.344 51.358-100.161 100.132z"
        fill="#fff"
      />
      <path
        d="M407.498 356.112l-51.373 51.358-100.118-100.146 51.373-51.358 100.118 100.146z"
        fill="#fff"
      />
      <path
        d="M104.502 155.857l51.337-51.351 100.153 100.125-51.337 51.351-100.153-100.125z"
        fill="#fff"
      />
      <path
        d="M255.983 307.36l-51.351-51.365 51.365-51.351 51.351 51.365-51.365 51.351z"
        fill="#fff"
      />
    </svg>
  </button>
</div>
