<div class="images-container" #page *ngIf="!loading">
  <div
    class="image-container"
    [class.image-container__active]="item == activeItem"
    *ngFor="let item of items"
  >
    <img
      class="image image--backdrop"
      [src]="item.photoUrl"
      alt="image background"
    />
    <img
      class="image"
      [class.image--contain]="isContainType(item)"
      [style.left.%]="getImageLeft(item)"
      [style.top.%]="getImageTop(item)"
      [style.width.%]="getImageWidth(item)"
      [style.height.%]="getImageHeight(item)"
      [src]="item.photoUrl"
      #image
      (error)="onImageError(item)"
      (load)="onImageLoad(item, image)"
      alt=""
    />
    <div class="vignette"></div>
  </div>
  <div class="image-overlay">
    <div class="info-panel">
      <div class="album-info">
        <span class="album-info__title">{{
          activeItem?.mediaItem?.album?.title
        }}</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="spinner-wrapper">
  <div class="spinner"></div>
</div>
